# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Django Files
db.sqlite3  # Ignore SQLite database (remove if using PostgreSQL/MySQL)
.env  # Environment variables (for secrets)

# Static & Media Files
static/
media/
myenv/

# Migrations (Optional)
migrations/  

# IDE & Editor Files
.vscode/
.idea/
*.swp  # Swap files (Vim)
.DS_Store  # macOS files

# Git Ignore Debugging
!.gitignore
